<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Course</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'assets/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'assets/dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'assets/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'assets/bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'assets/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <input type="hidden" id="user" value="{{ request.session.user_name}}">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Dashboard</a>
           
            </div>
            
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                            
                                    <!-- /input-group -->
                                </li>
                                <li>
                                    <a href="/dashboard/"> Dashboard </a>
                                </li>
                                <li>
                                    <a href="/student_registration/"> Student Registration </a>
                                </li>
                                <li>
                                    <a href="/teacher_registration/"> Teacher Registration </a>
                                </li>
                                <li>
                                    <a href="/render_add_department/"> Add  Department  </a>
                                </li>
                                <li>
                                    <a href="/add_course/"> Add Course </a>
                                </li>
                                <li>
                                    <a href="/add_subject/"> Add Subject </a>
                                </li>
                                <li>
                                    <a href="/create_exam/"> Create Exam </a>
                                </li>
                            </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Course</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="add_Course" method="POST">
                
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="deptSelMenu()">Add Course</button>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="panel-heading">
                        <h4>Course List</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="course_display_table">

                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <!-- Modal Code -->
    <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Course Creation</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <input type="text" id="course" placeholder="Enter Course Name" >
                    </div>    
                    <div class="form-group">
                        <select class="form-control" id="deptList">
                            <option value="0"> Select Department</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="courseYears">
                            <option value="0">Number Of Years</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" id="addCourseBtn" onclick="addCourse()" > Submit </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        
    <!-- jQuery -->
    <script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'assets/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'assets/bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'assets/bower_components/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'assets/js/morris-data.js' %}"></script>
    <script src="{% static 'assets/js/myAPP.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'assets/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>
